<h1><%= @listing.title %></h1>
<p><%= @listing.description %></p>
<p>Price: <%= @listing.price %></p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back to Listings', listings_path %>
