<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Bolha" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdn.simplecss.org/simple.css" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header>
    <nav>
      <div class="nav-left">
        <ul class="nav-links">
          <li><%= link_to 'Domov', root_path %></li>
          <li><%= link_to 'Oglasi', listings_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to 'Moj Profil', edit_user_registration_path %></li>
            <li><%= link_to 'Dodaj Oglas', new_listing_path %></li>
          <% end %>
        </ul>
      </div>

      <div class="nav-middle">
        <form method="get" action="<%= listings_path %>">
          <input type="text" name="query" placeholder="Išči oglase..." value="<%= params[:query] %>">
          <button type="submit">Išči</button>
        </form>
      </div>

      <div class="nav-right">
        <% if user_signed_in? %>
          <span class="user-email">Welcome, <%= current_user.email %>!</span>
          <%= link_to 'Odjava', destroy_user_session_path, method: :delete, class: "logout-btn" %>
        <% else %>
          <%= link_to 'Prijava', new_user_session_path %>
          <%= link_to 'Registracija', new_user_registration_path %>
        <% end %>
      </div>

      <!-- Hamburger meni za mobilne naprave -->
      <button class="hamburger" onclick="toggleMenu()">☰</button>
    </nav>
  </header>
    <%= yield %>
  </body>
</html>
